* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* Prevent click on icons */
path, i, svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: rgb(212, 212, 212);
}

.color {
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2 {
    font-size: 1.8rem;
    cursor: pointer;
    background: white;
    color: rgb(73,73,73);
    padding: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 8px -6px rgba(0,0,0,.25);
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: rgb(228, 228, 228);
    color:rgb(77, 77, 77);
    opacity: 1;
    padding: 1rem;
    width: 80%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /*pointer-events: none;*/
    /* Adjustment class */
    /*transform: translateY(50px);*/
    transition: all 0.5s ease-in-out;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.sliders button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    border: none;
    width: 2rem;
    border-radius: 50%;
    background: rgb(77, 77, 77);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.sliders button:focus {
    outline: none;
}

.sliders button:hover {
    background: rgb(112, 112, 112);
}

.controls {
    display: flex;
    flex-direction: column;
}

.adjust, .lock {
    padding: 0.5rem;
    background: white;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin: 2rem 0rem;
    box-shadow: 0 8px 8px -6px rgba(0,0,0,.25);
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(68, 106, 233);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.panel button:focus {
   outline: none;
}

.panel button:hover {
    background: rgb(109, 143, 252);
 }

.panel p {
    font-size: 1.2rem;
}

.library-panel,.generate-panel, .save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Slider Style */

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.copy-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.copy-container.active {
    opacity: 1;
    pointer-events: all;
}

.copy-popup {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    transition: transform 1s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
}

.copy-popup.active {
    transform: translateY(0rem);
}

.copy-popup h4 {
    font-size: 2rem;
    padding: 2rem;
}